<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <!-- add tailwindcss CSS  -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <!-- center the content in paga -->
  <body class="h-full grid place-items-center">
    <div class="" id="app">
      <section>
        <h2 class="font-bold mb-2">Assignments</h2>

        <ul>
          <!-- next step the loop over these assignments -->
          <li v-for="assignment in assignments">
            <label>
                {{ assignment.name }}
                <!-- as a general rule whenever you're working with form inputs, you will always want to bind them using the model -->
                <!-- loop over a basic array -->
                <!-- NEXT step is to introduce computed properties -->
                <input type="checkbox" v-model="assignment.complete">
            </label>
          </li>
          <!-- NOW we are generating it Dynamically -->
        </ul>

        <pre>
            {{ assignments }}
        </pre>
      </section>
    </div>

    <script>
      // Single Source of Truth

      let app = {
        data() {
          return {
            assignments: [
              { name: "Finish Project", complete: false },
              { name: "Read Chapter", complete: false },
              { name: "Turn on homework", complete: false },
            ],
          };
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
